body {
  font-family: monospace;
  background-color: #eee;
  color: black;
  font-size: 1rem;
  width: 600px;
  margin: auto;
}

p1 {
  font-family: sans-serif;
}

@media only screen and (max-width: 600px) {
  body {
    width: calc(100% - 16px);
    margin: 8px 8px 8px 8px;
  }
}

hr {
  border: 0.5px solid black;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #222;
    color: white;
  }
  hr {
    border: 0.5px solid white;
  }
}

#outputURL {
  white-space: nowrap;
}
