body {
  font-family: monospace;
  background-color: #eee;
  color: black;
  font-size: 1rem;
  width: 600px;
  margin: auto;
}

header, footer {
  text-align: center;
}

textarea {
  font-size: 1rem;
}

#noteInput {
  width: 100%;
}
  
.note-demo {
  font-family: sans-serif;
  background-color: white;
  color: black;
  padding: 5px;
  border-radius: 5px;
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 600px) {
  body {
    width: calc(100% - 16px);
    margin: 8px 8px 8px 8px;
  }
}

hr {
  border: 0.5px solid black;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #222;
    color: white;
  }
  hr {
    border: 0.5px solid white;
  }
}

#outputURL {
  white-space: nowrap;
}
