body {
  font-family: sans-serif;
  background-color: #eee;
  color: #000;
  font-size: 1rem;
  width: 600px;
  margin: auto;
}

.shortcut-blue {
  background-color: #42b6f5;
  padding-right: 4px;
  padding-left: 4px;
  border-radius: 4px;
}

.emoji {
  font-family: "Noto Emoji", sans-serif;
}

.symbols {
  font-family: "Noto Sans Symbols", sans-serif;
}

.symbols2 {
  font-family: "Noto Sans Symbols 2", sans-serif;
}

#copyLink {
  cursor: copy;
}

.codepen {
  width: calc(100% - 16px);
}

h1, h2, h3, h4, h5, h6 {
  color: #FF6719;
  cursor: pointer;
  font-family: 'Spectral', sans-serif;
}

header, footer {
  text-align: center;
}

textarea {
  font-size: 1rem;
}

button {
  font-size: 1rem;
  margin: 7px 0px 7px 0px;
  background-color: #FF6719;
  color: white;
  border: 0;
  width: auto;
  height: auto;
  padding: 5px 8px 5px 8px;
  border-radius: 8px;
  border: 0;
}

#noteInput {
  width: calc(100% - 16px);
}
  
.note-demo {
  background-color: white;
  color: black;
  padding: 5px;
  border-radius: 5px;
  width: calc(100% - 16px);
  height: auto;
}

@media only screen and (max-width: 600px) {
  body {
    width: calc(100% - 16px);
    margin: 2em;
  }
}

hr {
  border: 0.5px solid #000;
}

a {
  color: inherit;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #222;
    color: #fff;
  }
  hr {
    border: 0.5px solid #fff;
  }
  h1 {
    color: #fff;
  }
}

#outputURL {
  white-space: nowrap;
}

#share { display: flex; justify-content: center; }
